[user]
	email = patrick.klingemann@gmail.com
	name = Patrick Klingemann
	signingkey = BD29D26D05748FA2

[color]
  ui = auto

[push]
  default = simple

[github]
	user = pklingem
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[core]
	ignorecase = false

[url "git@github.com:"]
  insteadOf = git://github.com/
  insteadOf = https://github.com/
  insteadOf = ssh://git@github.com/
  insteadOf = git@github.com:

[commit]
	gpgSign = true
[init]
	defaultBranch = main

[include]
  path = ~/.gitconfig.local
