[user]
	email = patrick.klingemann@gmail.com
	name = Patrick Klingemann

[color]
  ui = auto

[push]
  default = simple

[github]
	user = pklingem
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
