[submodule "ls/.config/ls/dircolors-solarized"]
	path = ls/.config/ls/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized
[submodule "fonts/.local/share/fonts/Hack"]
	path = fonts/.local/share/fonts/Hack
	url = git@github.com:chrissimpkins/Hack.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = git@github.com:junegunn/vim-plug
