# ssh
ssh/.ssh/id_rsa*
ssh/.ssh/*.pem
ssh/.ssh/known_hosts

# tmux
tmux/.tmux/plugins/*
tmux/.tmux/resurrect/*

# heroku
fonts/.local/share/heroku/*

# vim
vim/.vim/plugged
vim/.vim/backup
vim/.vim/swp
