# ssh
ssh/.ssh/id_rsa*
ssh/.ssh/*.pem
ssh/.ssh/known_hosts

# tmux
tmux/.tmux/plugins/*
tmux/.tmux/resurrect/*
tmux/.tmux/sidebar/directory_widths.txt

# heroku
fonts/.local/share/heroku/*

# vim
vim/.vim/plugged
vim/.vim/backup
vim/.vim/swp
vim/.vim/.netrwhist

# uuids (not sure where these come from, in Fedora somewhere)
.uuid
